.led-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
    justify-items: stretch;
    align-items: stretch;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: aqua;
    cursor: url('../Resources/9040300_paint_bucket_icon.svg') 16 16, auto;
}

.led {
    background-color: #FFF;
    border-radius: 50%;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}