.led-container {
    background-color: #0E2A47;
    margin: 20px;
    border-radius: 10px;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: url('../Resources/9040300_paint_bucket_icon.svg') 16 16, auto;
}

.led {
    background-color: #FFF;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0.5px;
    width: calc(100% / 8 - 1px); /* Calculo para que encajen 8 LEDs */
    height: calc(100% / 8 - 1px); /* Calculo para que encajen 8 LEDs */
}