.navbar {
    background-color: #1B1A55;
    display: flex;
    color: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.perfil-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
}

.title {
    text-align: center;
    cursor: pointer;
}

.perfil {
    margin: 0 10px;
    text-decoration: #fff underline 2px solid;
    cursor: pointer;
}

.boton-conectar{
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #9290C3;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    margin: auto;
}

.boton-conectar:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
}