html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    background-color: #333;
    display: flex;
    color: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.perfil-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
}

.title {
    text-align: center;
}

.perfil {
    margin: 0 10px;
    text-decoration: #fff underline 2px solid;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: calc(100vh - 50px); /* Resta los 50px de la navbar */
    padding-top: 50px; /* Evita que el contenido se superponga con la navbar */
    background-color: cadetblue;
}

.led-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
    justify-items: stretch;
    align-items: stretch;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: aqua;
}

.right-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aquamarine;
}

.aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 20px;
    border-radius: 10px;
    background-color: bisque;
}

.form-enviar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 20px;
    border-radius: 10px;
    background-color: burlywood;
}
